.slds-card__header {
    background-color: #F3F3F3; /* Replace with your desired background color */
    padding: 16px;
    margin-top: 10px;
}
.slds-table_fixed-layout{
  margin-top: -0px;
}
.slds-button{
   background-color: #FFFFFF;
}